# flyctl launch added from .gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore a blackhole and the folder for development
**\storybook-static*

**\.vs
**\.idea
**\*.iml

# Yarn files
**\.yarn\install-state.gz
**\.yarn\build-state.yml

# Ignore heapsnapshot and log files
**\*.heapsnapshot
**\*.log

# dependencies
**\node_modules
**\.pnp
**\.pnp.js
**\.tsbuildinfo
# testing
**\coverage

# next.js
**\.next
**\out
**\build
**\tsbuildinfo
# misc
**\.DS_Store
**\*.pem

# debug
**\npm-debug.log*
**\yarn-debug.log*
**\yarn-error.log*
**\.pnpm-debug.log*
**\dist
# local env files
!**\.env.example
**\*.env*
**\.env.local
**\.env.development.local
**\.env.test.local
**\.env.production.local

# turbo
**\.turbo

**\.pnpm-store


# Contentlayer
**\.contentlayer

# flyctl launch added from apps\dashboard\.gitignore

# Sentry
apps\dashboard\**\.sentryclirc

# flyctl launch added from apps\main-site\.gitignore

# Sentry
apps\main-site\**\.sentryclirc


# Contentlayer
apps\main-site\**\.contentlayer

# flyctl launch added from apps\main-site-astro\.gitignore
# build output
apps\main-site-astro\**\dist
# generated types
apps\main-site-astro\**\.astro

# dependencies
apps\main-site-astro\**\node_modules

# logs
apps\main-site-astro\**\npm-debug.log*
apps\main-site-astro\**\yarn-debug.log*
apps\main-site-astro\**\yarn-error.log*
apps\main-site-astro\**\pnpm-debug.log*


# environment variables
apps\main-site-astro\**\.env
apps\main-site-astro\**\.env.production

# macOS-specific files
apps\main-site-astro\**\.DS_Store

# jetbrains setting folder
apps\main-site-astro\**\.idea

# flyctl launch added from node_modules\.pnpm\tailwindcss@3.4.4_ts-node@10.9.2_@swc+core@1.5.27_@types+node@20.14.2_typescript@5.4.5_\node_modules\tailwindcss\stubs\.gitignore
!node_modules\.pnpm\tailwindcss@3.4.4_ts-node@10.9.2_@swc+core@1.5.27_@types+node@20.14.2_typescript@5.4.5_\node_modules\tailwindcss\stubs\**\*

# flyctl launch added from node_modules\.pnpm\tailwindcss@3.4.4_ts-node@10.9.2_@swc+core@1.5.28_@types+node@20.14.2_typescript@5.4.5_\node_modules\tailwindcss\stubs\.gitignore
!node_modules\.pnpm\tailwindcss@3.4.4_ts-node@10.9.2_@swc+core@1.5.28_@types+node@20.14.2_typescript@5.4.5_\node_modules\tailwindcss\stubs\**\*

# flyctl launch added from node_modules\.pnpm\tailwindcss@3.4.4_ts-node@10.9.2_@types+node@20.14.2_typescript@5.4.5_\node_modules\tailwindcss\stubs\.gitignore
!node_modules\.pnpm\tailwindcss@3.4.4_ts-node@10.9.2_@types+node@20.14.2_typescript@5.4.5_\node_modules\tailwindcss\stubs\**\*
fly.toml
