[submodule ".context/effect"]
	path = .context/effect
	url = https://github.com/Effect-TS/effect.git
[submodule ".context/AnswerOverflow"]
	path = .context/AnswerOverflow
	url = https://github.com/AnswerOverflow/AnswerOverflow.git
[submodule ".context/github-search-agent"]
	path = .context/github-search-agent
	url = https://github.com/RhysSullivan/github-search-agent.git
[submodule ".context/better-auth"]
	path = .context/better-auth
	url = https://github.com/get-convex/better-auth.git
[submodule ".context/convex-backend"]
	path = .context/convex-backend
	url = https://github.com/get-convex/convex-backend.git
[submodule ".context/convex-js"]
	path = .context/convex-js
	url = https://github.com/get-convex/convex-js.git
[submodule ".context/typelytics"]
	path = .context/typelytics
	url = https://github.com/RhysSullivan/typelytics
[submodule ".context/tweakcn"]
	path = .context/tweakcn
	url = https://github.com/jnsahaj/tweakcn.git
