version: "3.8"

services:
  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "16686:16686" # Jaeger UI
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    restart: unless-stopped

  valkey:
    image: valkey/valkey:7.2-alpine
    container_name: valkey
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: valkey-server --appendonly yes
