@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --highlight: 217 91% 60%;
    --highlight-foreground: 0 0% 98%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 63.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --highlight: 217 91% 60%;
    --highlight-foreground: 0 0% 98%;
    --ring: 0 0% 14.9%;
  }
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.discord-message a {
	@apply text-blue-700 hover:underline dark:text-blue-400 !important;
}
.bar-of-progress {
	z-index: 50;
}
.d-emoji {
	@apply inline-block h-6 w-6;
}
.hljs-built_in{
  @apply text-red-700 dark:text-red-400 !important;
}
.hljs-keyword{
  @apply text-red-700 dark:text-red-400 !important;
}

html {
	margin: 0;
	width: 100%;
}

body {
	margin: 0;
	width: 100%;
}

.dark {
	color-scheme: dark;
}

/* Speculative fix for lacking of loading of images on mobile in a marquee */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
	img[loading='lazy'] {
		clip-path: inset(0.6px);
	}
}
