/* Discord font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #FFFFFF;
		--foreground: #0A0A0A;

		--muted: #F5F5F5;
		--muted-foreground: #737373;

		--popover: #FFFFFF;
		--popover-foreground: #0A0A0A;

		--card: #FFFFFF;
		--card-foreground: #0A0A0A;

		--border: #E5E5E5;
		--input: #E5E5E5;

		--primary: #171717;
		--primary-foreground: #FAFAFA;

		--secondary: #F5F5F5;
		--secondary-foreground: #171717;

		--accent: #F5F5F5;
		--accent-foreground: #171717;

		--destructive: #EF4444;
		--destructive-foreground: #FAFAFA;

    --highlight: #3B82F6;
    --highlight-foreground: #FAFAFA;

		--ring: #A3A3A3;

		--radius: 0.5rem;
	}

  .dark {
    --background: #0A0A0A;
    --foreground: #FAFAFA;
    --muted: #262626;
    --muted-foreground: #A3A3A3;
    --popover: #0A0A0A;
    --popover-foreground: #FAFAFA;
    --card: #0A0A0A;
    --card-foreground: #FAFAFA;
    --border: #262626;
    --input: #262626;
    --primary: #FAFAFA;
    --primary-foreground: #171717;
    --secondary: #262626;
    --secondary-foreground: #FAFAFA;
    --accent: #262626;
    --accent-foreground: #FAFAFA;
    --highlight: #3B82F6;
    --highlight-foreground: #FAFAFA;
    --destructive: #7F1D1D;
    --destructive-foreground: #FEF2F2;
    --ring: #262626;
}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.hljs {
	@apply my-4 w-full rounded-lg bg-neutral-100 text-sm dark:bg-neutral-900 !important;
	/* Fixes overflowing code blocks */
	white-space: break-spaces;
	line-break: anywhere;
	font-family: 'Courier New', Courier, monospace;
}
.discord-message a {
	@apply text-blue-700 hover:underline dark:text-blue-400 !important;
}
.bar-of-progress {
	z-index: 50;
}
.d-emoji {
	@apply inline-block h-6 w-6;
}
.hljs-built_in{
  @apply text-red-700 dark:text-red-400 !important;
}
.hljs-keyword{
  @apply text-red-700 dark:text-red-400 !important;
}

html {
	margin: 0;
	width: 100%;
}

body {
	margin: 0;
	width: 100%;
}

.dark {
	color-scheme: dark;
}

/* Speculative fix for lacking of loading of images on mobile in a marquee */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
	img[loading='lazy'] {
		clip-path: inset(0.6px);
	}
}
