/* Discord font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs {
	@apply my-4 w-full rounded-lg bg-white text-sm dark:bg-stone-900 !important;
	/* Fixes overflowing code blocks */
	white-space: break-spaces;
	line-break: anywhere;
	font-family: 'Courier New', Courier, monospace;
}
.discord-message a {
	@apply text-blue-700 hover:underline dark:text-blue-400 !important;
}
.bar-of-progress {
	z-index: 50;
}
.d-emoji {
	@apply inline-block h-6 w-6;
}

html {
	margin: 0px;
	width: 100%;
}

body {
	margin: 0px;
	width: 100%;
}

.dark {
	color-scheme: dark;
}

/* Speculative fix for lacking of loading of images on mobile in a marquee */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
	img[loading='lazy'] {
		clip-path: inset(0.6px);
	}
}
