# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore a blackhole and the folder for development
storybook-static*/

.vs/
.idea/
*.iml

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# dependencies
node_modules
.pnp
.pnp.js
.tsbuildinfo
# testing
coverage

# next.js
.next/
out/
build
tsbuildinfo
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
# local env files
!.env.example
*.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

.pnpm-store/


# Contentlayer
.contentlayer

# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# sst
.sst


# Sentry
.sentryclirc


# Contentlayer
.contentlayer
