@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs {
  @apply rounded-lg bg-neutral-50 dark:bg-stone-900 w-full  !important;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}
