/* Discord font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs {
	@apply w-full rounded-lg bg-neutral-50  dark:bg-stone-900 !important;
	white-space: break-spaces;
}

.d-emoji{
  @apply w-6 h-6 inline-block;
}

html {
	margin: 0px;
	width: 100%;
}

body {
	margin: 0px;
	width: 100%;
}

.dark {
	color-scheme: dark;
}
