---
import { findMessageResultPage } from "@answeroverflow/core/pages";
const { id } = Astro.params;


const data = await findMessageResultPage(id!, []);

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-black text-white">
    <h1>Astro {id}</h1>
    {data?.messages.map(m => (
      <div>
        <p>{m.content}</p>
      </div>
    ))}
  </body>
</html>
