.shiki {
	@apply my-0 w-full rounded-lg bg-neutral-900 text-sm !important;
	/*@apply my-4 w-full rounded-lg bg-neutral-100 text-sm dark:bg-neutral-900 !important;*/
	/* Fixes overflowing code blocks */
	white-space: break-spaces;
	line-break: anywhere;
	font-family: 'Courier New', Courier, monospace;
}

.prose pre:not([class]) {
	@apply bg-transparent p-0 !important;
	min-width: max-content;
}

.discord-message a {
	@apply text-blue-700 hover:underline dark:text-blue-400 !important;
}

.d-emoji {
	@apply inline-block h-6 w-6;
}

.heading-1 {
	@apply text-4xl font-bold !important;
}

.heading-2 {
	@apply text-3xl font-bold !important;
}

.heading-3 {
	@apply text-2xl font-bold !important;
}

.heading-4 {
	@apply text-xl font-bold !important;
}

.heading-5 {
	@apply text-lg font-bold !important;
}

.heading-6 {
	@apply text-base font-bold !important;
}

.emoji {
	@apply inline-block h-6 w-6;
}

img:not([src]):is(:empty) {
	@apply h-0 w-0 !important;
}
