name: CI

on: # rebuild any PRs and main branch changes
  pull_request:
    types: [review_requested, ready_for_review, synchronize]
  push:
    branches:
      - main

env:
  # None of these are real secrets although this should probably be updated
  DATABASE_URL: mysql://root:mysql@localhost:33306/api_dev
  VITE_DATABASE_URL: mysql://root:mysql@localhost:33306/api_dev
  VITE_ELASTICSEARCH_URL: http://localhost:9200
  VITE_ELASTICSEARCH_MESSAGE_INDEX: messages
  VITE_ELASTICSEARCH_INDEX: api_dev
  VITE_ELASTICSEARCH_USERNAME: elastic
  VITE_ELASTICSEARCH_PASSWORD: changeme
  OWNERS: "[]"

jobs:

  build:
      if: ! github.event.pull_request.draft
      name: Build and Test
      timeout-minutes: 15
      runs-on: ubuntu-latest

    # To use Remote Caching, uncomment the next lines and follow the steps below.
    # env:
    #  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
    #  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

      steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'

      - name: Start containers # TODO: Use dev container docker-compose instead if possible
        run: docker-compose -f "docker-compose.yml" up -d --build

      - name: Install dependencies
        # Playright is used for storybook, possible move that into package.json instead?
        run: yarn && npx playwright install-deps

      - name: Setup Database
        run: yarn migrate

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test

      - name: Stop containers
        if: always()
        run: docker-compose -f "docker-compose.yml" down
