name: CI

on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main

env:
  DATABASE_URL: ${{secrets.DATABASE_URL}}
  VITE_DATABASE_URL: ${{secrets.DATABASE_URL}}
  OWNERS: []

jobs:
  build:
      name: Build and Test
      timeout-minutes: 15
      runs-on: ubuntu-latest

    # To use Remote Caching, uncomment the next lines and follow the steps below.
    # env:
    #  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
    #  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

      steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'

      - name: Start containers # TODO: Use dev container docker-compose instead if possible
        run: docker-compose -f "docker-compose.yml" up -d --build

      - name: Install dependencies
        # Playright is used for storybook, possible move that into package.json instead?
        run: yarn && npx playwright install-deps

      - name: Setup Database
        run: yarn migrate

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test

      - name: Stop containers
        if: always()
        run: docker-compose -f "docker-compose.yml" down
