name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: deploy-preview-${{ github.head_ref }}
  cancel-in-progress: true

env:
  # None of these are real secrets although this should probably be updated
  DATABASE_URL: http://root:nonNullPassword@localhost:3900

  ELASTICSEARCH_URL: http://localhost:9200
  ELASTICSEARCH_USERNAME: elastic
  ELASTICSEARCH_PASSWORD: changeme
  CI: true
  ELASTICSEARCH_MESSAGE_INDEX: messages
  NEXT_PUBLIC_POSTHOG_TOKEN: "123" # Fake API key to make CI not fail
  REDIS_URL: redis://:redis@localhost:6379
  NEXT_PUBLIC_DEPLOYMENT_ENV: "ci"
  NEXT_PUBLIC_DISCORD_CLIENT_ID: "123"
  DISCORD_CLIENT_SECRET: "123"
  DISCORD_TOKEN: "123"
  ENVIRONMENT: "discord-bot" # todo: needs to be set on a per proj level
  NEXT_PUBLIC_SITE_URL: "http://localhost:3000"

  # Long delay to give tests best chance at succeeding
  DEFAULT_DELAY_IN_MS: "5000"

  # Actual secrets now, no peeking
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

jobs:
  build:
    name: Build and Test
    timeout-minutes: 90
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Setup Bun environment
        uses: oven-sh/setup-bun@v2
        with:
        bun-version: 1.1.40

      - name: Start containers
        run: docker compose -f "docker-compose.yml" -f "docker-compose-extras.yml" up -d --build

      - name: Install dependencies
        run: bun i

      - name: Setup Database
        run: (cd packages/core && bun db:push)

      - name: Format
        run: bun format:check

      - name: Typecheck
        run: bun typecheck

      - name: Test
        run: bun test

      - name: Stop containers
        if: always()
        run: docker compose -f "docker-compose.yml" -f "docker-compose-extras.yml" down
