name: 'build'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.CONTAINER_OWNER }}
          password: ${{ secrets.CONTAINER_TOKEN }}

      - name: Pre-build image and run make ci-build in dev container
        uses: devcontainers/ci@v0.2
        with:
          imageName: ghcr.io/${{secrets.CONTAINER_TOKEN}}/answeroverflow-devcontainer
          cacheFrom: ghcr.io/${{secrets.CONTAINER_TOKEN}}/answeroverflow-devcontainer
          push: always
          runCmd: yarn lint
