---
import { findMessageResultPage } from "@answeroverflow/db/pages";
const { id } = Astro.params;

const messages = await findMessageResultPage("", []);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 >Astro {id}</h1>
    <!-- id -->
     {id}
  </body>
</html>
